body{
    background: #808080;
}

aside {
    float: left;
    background: #181818;
    width: 25%;
    padding: 3%;
    height: 150vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}
aside img {
    width: 300px;
    float: left;
}

aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}
aside h3{
    margin-top: 50px;
    font-size: 25px;
}

aside ul {list-style: none}
aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .5s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    transform: scale(1.05);
}

main .features{
    float:left;
    color:#000000;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px;margin:20px auto}